body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: #2D3748;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
  .meta { color: #718096; }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  height: auto;
  background: #63B3ED;
  color: white;
  text-align: center;
  width: 100%;
  grid-area: header;
  p {
    margin-top: 0;
  }
  h1 {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  img {
    margin-top: 20px;
    width: 100px;
    display: block;
    border: 3px solid #333; 
    border-radius: 50%;
  }
}

article {
  margin-left: 5vmin;
  margin-right: 5vmin;
  grid-column: main;
  h2 {
    font-size: 32px;
    color: #48BB78;
  }
  h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  img {
    float: right;
    width: 200px;
    height: auto;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
  }
}

.Sidebar {
  margin-left: 5vmin;
  margin-right: 5vmin;
  grid-area: sidebar;
  h3 {
    color: #48BB78;
  }
  li { 
    color: #4299E1;
  }
  .about-me {
    background: #E2E8F0;
    padding: 1rem;
    h3 { 
      color: #000000; 
    }
  }
}

footer {
  text-align: center;
  background: #2C5282;
  color: #FFFFFF;
  grid-area: footer;
}


